<div class="container">
    <button name="alumnos" class="buttonmain" 
        style="top: 25%;
        left: 5%;" 
        [routerLink]="['/admin', 'Alumnos']"
        >
        Alumnos

    </button>
    <button 
        class="buttonmain" 
        style="top: 25%; 
        left: 38%;"
        [routerLink]="['/admin', 'Maestros']"
        >
        Maestros
    </button>
    <button 
        class="buttonmain" 
        style="top:25%; 
        right:5%;"
        [routerLink]="['/admin', 'Materias']">
        Materias
    </button>
    <button 
        class="buttonmain" 
        style="bottom:25%; 
        left:25%;"
        [routerLink]="['/admin', 'Cursos']">
        Cursos
    </button>
    <button 
        class="buttonmain" 
        style="bottom: 25%; 
        right:25%;"
        [routerLink]="['/admin', 'Periodos']">
        Periodos
    </button>
</div>
